<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<div class="d-flex flex-column align-items-center justify-content-center mt-5 p-5">
  <h1 class="text-center">Page not found</h1>
  <img class="img-fluid w-50 mt-5" src="/svg/undraw_page_not_found_re_e9o6.svg" alt="">
</div>
<%-include('../includes/end.ejs')%>