<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<div class="d-flex flex-column align-items-center justify-content-center mt-5 p-5">
  <h1 class="text-center mt-5">Something went wrong!</h1>
  <p>We're sorry for the inconvenience. We're working to solve this issue very soon :)</p>
</div>
<%-include('../includes/end.ejs')%>