<div class="d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-center">No products found!</h1>
  <img class="img-fluid w-50 mt-5" src="/svg/undraw_not_found_-60-pq.svg" alt="">
</div>